
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}
fieldset{
  border: none;
}
li{
  list-style: none;
}
legend{
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

input{
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem;
  border-radius: .8rem;
  outline: none;
  border: none;
  box-shadow: 4px 7px 8px 3px rgba(0,0,0,0.16);
}

.main{
  padding: 3rem;
  border-radius:2rem;
  box-shadow: 7px 15px 17px 6px rgba(0,0,0,0.16);
  margin: 7rem 0;
  background-color: #fffaec;
  text-align: center;
}
button{
  width: 80%;
  margin: 1.25rem;
  margin-left: 1.7rem;
  background-color: rgb(255, 106, 0);
  transition: 300ms;
  padding: .7rem;
  color: white;
  font-size:1rem;
  border-radius: 1rem;
  border: none;

}
button:active{
  background-color: chocolate;
}
a{
  cursor: pointer;
  margin: 1rem;
}
p{
  font-size: smaller;
  color: crimson;
  margin: .5rem 1rem;
}